




 @import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap');

body {
    background-color: rgba(242, 243, 238, 0.76);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
  }



 


  #header_part{

    width: 100%;
    height: 300px;
    background-image:url("../image/logo.jpg");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    position:fixed;
  }

 #headerimg {

  width: 250px;
  height: 250px;
  margin-top: 20px;
  margin-left: 50px;
  position: absolute;
 }

 #headerimg {
  position: absolute;
  -webkit-animation:spin 100s linear infinite;
  -moz-animation:spin 100s linear infinite;
  animation:spin 100s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

 .list_names{
  font-size: 40px;
  color: rgb(5, 5, 1);
 }


 .registerform {
	display: flex;
	flex-direction: column;
	border: brown 2px solid;
	border-radius: 50px 0px 50px 0px;
	background-color: rgba(166, 184, 146, 0.192);
	margin: 320px 60px 320px 60px;
    padding: 30px;
      width: 80%;
}
.arrange {
	margin-bottom: 10px;
	display: flex;
	flex-direction: row;
}
.secondhalf {
	margin-left: 30px;
}

.halfwide {
	display: flex;
	flex-grow: 1;
}
.flexy {
	display: flex;
}

.margin-bottom {
	margin-bottom: 15px;
	margin-left: 15px;
}

.gendermf {
	margin-left: 20px;
}
input {
	background-color: rgba(13, 99, 228, 0.116);
}
.fullinput input {
	height: 20px;
}

.dateson input {
	width: 200px;
}
.halfwide input {
	height: 20px;
}
input[type="text"] {
	border: 2px solid rgba(0, 60, 255, 0.925);
	border-radius: 8px;
}
input[type="date"] {
	border: 2px solid rgba(0, 60, 255, 0.925);
	border-radius: 8px;
}

input[type="tel"] {
	border: 2px solid rgba(0, 60, 255, 0.925);
	border-radius: 8px;
}

input[type="email"] {
	border: 2px solid rgba(0, 60, 255, 0.925);
	border-radius: 8px;
}

.fullinput label {
	display: flex;
	flex-grow: 1;
	margin-bottom: 10px;
}

.fullinput {
	display: flex;
}
.fullinput input {
	flex-grow: 1;
}

.fieldarrange {
	padding: 10px;
	margin-top: 30px;
}
.rowschool {
	display: flex;
	flex-direction: row;
}
.partschool {
	display: flex;
	flex-direction: column;
	width: 80%;
}

.sizeheader {
	display: flex;
	flex-direction: row;
	margin-left: 5px;
	margin-bottom: -5px;
}
.ss {
	margin-left: 42%;
}

button {
	color: white;
	font-size: 20px;
	font-variant: small-caps;
	background-color: rgb(1, 5, 24);
	height: 50px;
	width: 400px;
	align-self: center;
	margin-top: 20px;
}

button:hover {
	color: black;
	background-color: rgba(155, 16, 69, 0.75);
}
.serveyheader {
	margin-top: 20px;
}

.partposition {
	margin-left: -50%;
}

.permission {
	margin-top: 25px;
	text-decoration: underline;
	font-size: 20px;
}

.secheader {
	margin-left: 38%;
}
.sizehead p {
	font-size: 16px;
	margin-bottom: 5px;
}

.halfwide input {
	flex-grow: 1;
}

.indent {
	text-indent: 1em;
}

.content {
	text-align: left;
	margin: 55px 150px;
}
.contentdif {
	background-color: rgba(28, 39, 199, 0.13);
}
.bold {
	font-weight: bold;
}
.address {
	margin: 0;
	font-size: 15px;
}
h3 {
	margin: 5px 0;
	font-size: 18px;
}

.mapdiv {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	padding: 20px;
	margin: 60px;
}
.map {
	display: flex;
	flex-flow: column wrap;
	text-align: center;
	margin: 20px;
	border: solid 2px rgba(42, 54, 165, 0.774);
}

.footer {
	margin-top: -50px;
	display: flex;
	flex-direction: row;
}
.facilitytype {
	margin-bottom: 0px;
}
.headpermission {
	margin-top: 10px;
}




 /*
 ul {
  width: 100%;
  padding: 10px;
  overflow: hidden;
  background-color: rgba(97, 155, 10, 0.103);
  
} 
*/


.top_nav ul li  {
list-style-type: none;
margin-left: 60px;

}

.top_nav ul li a{

  text-decoration: none;
  border-style: dashed;
  padding: 5px;
}

.top_nav ul li a:hover {

  color: blueviolet;
  text-decoration: underline;  
  font-size: 40px;
  background-color: rgb(0, 0, 0);
}

.top_nav ul{
display: flex;
 flex-direction:row;
 align-items: center;
 width: 100%;
 justify-content: center;
 margin-top: 60px;
 
}


.yenidiv{
  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top:400px;
  width: 450px;
  height: 500px;
  margin-left: 700px;
  background-color: rgb(47, 201, 221);
  
}

.table_style{

  margin-top: 400px;
  margin-left: 600px;
}

.table_style th {

  background-color: bisque;
 

}


.black{
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
  width: 600px;
  height: 600px;
  background-color: black;

}

.inner_footer {

	display: flex;
	justify-content: space-around;
	align-items:center;
	width: 1900px;
	height: 199px;
}

.copyright{

	color: rgb(20, 148, 94)!important;
}




.redsquare{

  width: 50px;
  height: 50px;
  background-color: red;
  margin: 5px;
}


.table_style td:hover {

  background-color: cornflowerblue;
  color: brown;
  font-size: 17px;

}


.footer_outer_design {

	width: 100%;
	height: 280px;
	background-color: rgb(236, 219, 219);
	


}




  




